@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
    margin:0;
    border:0;
    padding:0;
}

body {
    color:red;
    font-family: 'Zilla Slab', serif;
}



